--find-links /usr/local/airflow/plugins/plugins_whl
--no-index

apache-airflow-providers-sftp
apache-airflow-providers-oracle
apache-airflow-providers-snowflake
apache-airflow-providers-jdbc
apache-airflow-providers-odbc
apache-airflow-providers-microsoft-mssql
boto3
pandas
chardet
charset_normalizer