--find-links /usr/local/airflow/plugins/plugins_whl
--no-index

apache-airflow-providers-oracle
apache-airflow-providers-snowflake
apache-airflow-providers-jdbc
apache-airflow-providers-odbc
boto3
pandas